.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 30px;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    flex-wrap: wrap;
}

.busca {
    position: relative;
    width: 350px;
}

.busca-input input {
    width: 100%;
    padding: 10px 25px;
    border-radius: 30px;
    border: 1.5px solid #000;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

.sugestoes {
    display: none; 
    position: absolute;
    top: 100%;    
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none; 
    border-radius: 0 0 20px 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.sugestoes li {
    padding: 12px;
    cursor: pointer;
    text-align: center;
    font-style: italic;
    color: #555;
    border-bottom: 1px solid #000000;
    transition: all 0.3s ease;
}

.sugestoes li:hover {
    background-color: #f5f5f5;
    color: var(--azul-card);
    transform: scale(1.03);
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: var(--azul-card);
    cursor: pointer;
}

.user-menu i {
    font-size: 32px;
}

hr {
    border: none;           
    height: 1px;         
    background-color: #eee;   
    margin: 0;            
}

.linha {
    align-items: start;
    width: 200;           /* Largura total */
    height: 2px;           /* Espessura */
    background: #eee;      /* Cor */
    margin: 20px 0;        /* Espaçamento */
}

.titulo-principal {
    text-align: center;
    margin: 40px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--azul-destaque);
}

.sidebar {
    width: 220px;
    flex-shrink: 0;
}
